<!-- start custom head snippets -->
<meta property="og:image" content="/assets/images/ogimage-georges-labreche.jpg" />
<meta property="og:description" 
  content="Developing and operationalizes AI technology demonstrators on-board the European Space Agency's OPS-SAT Space Lab. Leveraging edge computing for in-orbit machine learning and autonomous decision-making." /

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon.png">

<!-- end custom head snippets -->
